/* Navbar */


/* ///////////////////////////////////// */

/* Heading */


/* //////////////////////////// */

/* Body */

body {
	color: #dedede;
	font-family: 'Baloo Paaji 2', cursive;
	/* background-size: cover;
	background-position: center; */
     /* background-image:  url(' ../assets/background.jpg') */
}

html {
	height: 100%;
}

#content {
	text-align: center;
	padding-top: 25%;
	text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.4), 0px 18px 23px rgba(0, 0, 0, 0.1);
}

h1 { 
	font-weight: 700;
	font-size: 5em;
	}
 
	hr {
	 width: 400px;
	 border-top: 1px solid #f8f8f8;
	 border-bottom: 1px solid rgba(0,0,0,0.2);
	}

	/* //////////////////////////////// */

	/* Gallery */

	body {
    /* background-color: #CCB19B; */
    /* background-color: antiquewhite; */
    background-color:#1F252A;
    font-family: 'Baloo Paaji 2', cursive;
}






@media (max-width: 1200px) {
    #headingGroup h1 {
        font-weight: 100;
        font-size: 3rems;
    }
}

#iconHover:hover {
    opacity: 0.5;
    color: #891206;
}




section {
    margin: auto;
}

