/* Navbar */

#mainNavbar {
	font-size: 1.5rem;
	font-weight: 100;
}

#mainNavbar .nav-link {
	color: white;
}

#mainNavbar .nav-link:hover {
	color: #891206;
}

#mainNavbar .navbar-brand {
	color: #ea1c2c;
}

/* ///////////////////////////////////// */

/* Heading */

#headingGroup span {
	color: #ea1c2c;
}

#headingGroup h1 {
	font-weight: 100;
	font-size: 4rems;
}

#buttonHover:hover {
	color: #891206;
}

/* //////////////////////////// */

/* Body */

body {
	color: #dedede;
	font-family: 'Baloo Paaji 2', cursive;
	background-size: cover;
	background-position: center;
	/* background-image: url('/assets/art/Images/Tuss_header.jpg'); */
}

html {
	height: 100%;
}

#content {
	text-align: center;
	padding-top: 25%;
	text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.4), 0px 18px 23px rgba(0, 0, 0, 0.1);
}

h1 { 
	font-weight: 700;
	font-size: 5em;
	}
 
	hr {
	 width: 400px;
	 border-top: 1px solid #f8f8f8;
	 border-bottom: 1px solid rgba(0,0,0,0.2);
	}

	/* //////////////////////////////// */

	/* Gallery */

	body {
    /* background-color: #CCB19B; */
    /* background-color: antiquewhite; */
    background-color:#1F252A;
    font-family: 'Baloo Paaji 2', cursive;
}

.jumbotron {
    background-color: #A9887A;
}

#jumboFont {
   color: whitesmoke;
}

#jumboHeaderImg {
    /* background-image: url('src/assets/background.jpg'); */
    background-size: 100%;
    background-position: 10%;

  } 

  #pFont {
      color: whitesmoke;
  }



.navbar.scrolled {
    background-color: black;
    transition: background 1s;
}

@media (max-width: 1200px) {
    #headingGroup h1 {
        font-weight: 100;
        font-size: 3rems;
    }
}

#iconHover:hover {
    opacity: 0.5;
    color: #891206;
}


#etsyColor {
    color: whitesmoke;
}

#instaColor {
    color: whitesmoke;
}

section {
    margin: auto;
}

.container-fluid {
    width: 100%;
    margin: 0 0 20px;
    padding: 10px;
    overflow: hidden;
    break-inside: avoid;
}

img {
    padding: 1px;
    border: 5px solid whitesmoke ;
    background-color: rgb(175, 0, 0);
}